[submodule "operating-system-raspberrypios"]
	path = operating-system-raspberrypios
	url = ../operating-system-raspberrypios
[submodule "operating-system-posix"]
	path = operating-system-posix
	url = ../operating-system-posix
[submodule "tool-linux"]
	path = tool-linux
	url = ../tool-linux
[submodule "operating_system-raspberrypios"]
	path = operating_system-raspberrypios
	url = ../operating_system-raspberrypios
[submodule "operating_system-posix"]
	path = operating_system-posix
	url = ../operating_system-posix
